/tmp/ 
# Ignore master key for decrypting credentials and more.
/config/master.key
bin/
app/
log/
*.log
storage/*
playwright-test/node_modules/*
playwright-test/playwright-report/*
playwright-test/test-results/*
test-results/*.json
playwright-test/*.png
playwright-test/*.html
log/*.log
